.onthi-layout{
    margin: 100px 0;
    
}
.sider-menu {
    background: #001529; /* Màu nền cho sidebar */
  }
  
  .ant-menu-item,
  .ant-menu-submenu-title {
    font-size: 16px;
    font-weight: 500;
    color: white; /* Màu chữ */
  }
  
  .ant-menu-item-selected {
    background-color: #a24efc !important;
    color: white !important;
  }
  
  .ant-menu-item:hover,
  .ant-menu-submenu-title:hover {
    background-color: #7b31c9 !important; /* Màu nền khi hover */
    color: #ffffff !important;
  }
  
  .ant-menu-item-icon {
    font-size: 18px;
  }
  
  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    font-size: 18px;
    margin-right: 8px;
  }
  
  .onthi-progress-bar {
    margin: 20px 0;
  }
  
  .onthi-content-wrapper {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .ant-layout-sider {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .ant-tooltip-inner {
    background-color: #7b31c9;
    color: white;
  }
  
  .ant-tooltip-arrow-content {
    background-color: #7b31c9;
  }

  .onthi-manage {
    background-color: #d9d9d9;
    width: 120px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .onthi-manage-name {
    color: #7b31c9;
    font-size: 15px;
    font-family: "Inter";
    font-weight: bold;
    padding: 4px;
  }