body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.blog-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.post-preview {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

.post-preview img {
  width: 100%;
  height: 350px;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  transition: filter 0.3s ease;
  border-radius: 15px;
}

.post-preview:hover img {
  filter: brightness(0.85);
}

.post-preview h2 {
  margin: 20px;
  color: #333;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.post-preview h2 a {
  color: inherit;
  text-decoration: none;
}

.post-preview:hover h2 {
  color: #7b31c9;
}

.post-preview p {
  padding: 0 20px 20px;
  color: #666;
  font-size: 18px;
  line-height: 1.6;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.4s ease;
}

.card:hover {
  transform: translateY(-12px);
}

.card-link {
  text-decoration: none;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card h2 {
  font-size: 1.6em;
  margin: 15px;
  color: black;
  font-weight: 800;
  transition: color 0.4s ease;
}

.card:hover h2 {
  color: #7b31c9;
}

.card p {
  font-size: 1em;
  padding: 0 20px 20px;
  color: #666;
  line-height: 1.6;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  font-size: 1.2em;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s ease;
}

.search-bar input:focus {
  border-color: #7b31c9;
  outline: none;
}

/* Kiểu phân trang */
.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.page-number:hover,
.page-number.active {
  background-color: #7b31c9;
  color: #fff;
}

.Newpost {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 10px;
}

.Newpost-title {
  font-family: "Inter";
  font-size: 22px;
  font-weight: bold;
}

.Newpost button {
  background-color: #7b31c9;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.Newpost button:hover {
  background-color: #541e8d;
}

.author-info-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.author-avatar-blog {
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  cursor: pointer;
}

.publish-time {
  color: #999;
  font-size: 0.8em;
  text-align: right;
}

/* Điều chỉnh thiết kế responsive */
@media (max-width: 768px) {
  .post-preview img {
    max-height: 300px;
  }

  .post-preview h2 {
    font-size: 24px;
  }

  .post-preview p {
    font-size: 16px;
  }

  .card img {
    max-height: 150px;
  }

  .card h2 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 0.9em;
  }

  .search-bar input {
    width: 100%;
  }

  .author-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .author-avatar-blog {
    max-height: 40px !important;
    max-width: 40px !important;
    margin-bottom: 10px;
  }

  .publish-time {
    font-size: 0.9em;
    text-align: left;
  }
}