.newpost-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.newpost-title {
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
}

.newpost-form {
  display: flex;
  flex-direction: column;
}

.newpost-form input,
.newpost-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.newpost-form input[type="file"] {
  padding: 3px;
}

.newpost-form button {
  padding: 10px;
  background-color: transparent;
  color: #7b31c9;
  font-weight: bold;
  border: 2px solid #7b31c9;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newpost-form button:hover {
  background-color: #7b31c9;
  color: white;
}

.newpost-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.newpost-note {
  color: #7b31c9;
  font-size: 13px;
  font-weight: 800;
  font-family: "Inter";
  text-align: left;
}
