.full-screen1 {
  width: 100vw; /* Chiếm toàn bộ chiều rộng của màn hình */
  height: auto; /* Chiếm toàn bộ chiều cao của màn hình */
  background-color: #fff;
  padding: 50px;
}

.feedback-container {
  background: linear-gradient(-90deg, #e383c9, #d77eda, #c375ef, #b671ff);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

.form-title {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 10px;
}

.sm-button {
  width: 40%;
  background-color: #b671ff;
}
