

.full-screen {
    width: 100vw; /* Chiếm toàn bộ chiều rộng của màn hình */
    height: auto; /* Chiếm toàn bộ chiều cao của màn hình */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
}

.full-height {
    flex: 1; /* Chiếm toàn bộ chiều cao */
    display: flex;
    align-items: center;
}

.home-bg {
    background-size: cover; /* Đảm bảo ảnh nền phủ toàn bộ màn hình */
    background-position: center; /* Đặt vị trí ảnh nền */
}

.model-image {
    max-width: 536px; /* Đảm bảo ảnh không bị giới hạn kích thước */
    max-height: 536px;     /* Giữ tỉ lệ ảnh */
    border-radius: 25px;
}

.Xtext {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 600;
}

.sm-text {
    color: #7b31c9;
}

.md-slogan {
    font-size: 25px;
    font-weight: 600;
    font-family: "Inter";
}

.i-content {
    text-align: left;
    font-size: 16px;
    font-family: "Inter";
    font-weight: 600;
}

.md-content {
    font-size: 22px;
    font-weight: 600;
    font-family: "Inter";
    color: #7b31c9;
}

.skill-item {
    background-color: #fff; /* Nền màu trắng */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 400px;
    height: 220px;
    justify-content: center;
    text-align: left;
}

.skill-item:hover {
    transform: translateY(-5px);
}

.skill-name {
    font-size: 20px;
    font-weight: 600;
    color: #452a70;
    margin-bottom: 10px;
}

.skill-class {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.skill-content {
    font-size: 14px;
    color: #000;
}

.Xskill {
    color: #fff;
    margin-top: 30px;
}

.sm-skill {
    color: #fff;
    text-align: center;
    font-size: 22px;
}

.fb-w {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Khoảng cách giữa các thẻ */
    background: linear-gradient(-90deg, #e383c9, #d77eda, #c375ef, #b671ff);
    overflow: hidden;
    padding: 50px;
}

@media screen and (max-width: 850px) {
    .Gioithieu {
        margin: 2rem 2rem; /* Adjusted for smaller screens */
    }
    .first {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .first-text {
        width: 100%;
        text-align: justify; /* Ensure text is justified on smaller screens */
    }
    .Gioithieu p {
        font-size: 1.5rem;
        text-align: justify; /* Justify text alignment */
    }
    .image {
        width: 100%;
        margin: 1.8rem 0;
    }
    .image img {
        height: 250px;
    }
    .Gioithieu h1 {
        font-size: 2.5rem; /* Adjusted for smaller screens */
    }
    .Gioithieu p {
        font-size: 1.2rem; /* Adjusted for smaller screens */
    }
    .first-text h2 {
        font-size: 2rem; /* Adjusted for smaller screens */
    }
    .first-text h3 {
        font-size: 1.4rem; /* Adjusted for smaller screens */
    }
    .Xtext {
        font-size: 24px;
    }
    .sm-text {
        font-size: 22px;
    }
}